<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正在注册中</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div>
    <form method="POST" action="http://localhost:8015/register">
        <li><input name="username" placeholder="用户名"></li>
        <li><input name="password" placeholder="密码"></li>
        <li><input name="password_again" placeholder="密码确认"></li>
        <li><input name="emailaddress" placeholder="邮箱"></li>
        <li><input type="submit" value="提交"></li>
    </form>

</div>
</body>
</html>